.bg-cover {
  background-size: cover;
  background-position: center center;
}
.img-cover {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.w-sm {
  width: 3.5rem;
}
.rounded-4 {
  border-radius: 10px;
}

@include media-breakpoint-up(md) {
  .h-custom {
    height: 40%;
  }
}

.mb-custom {
  margin-bottom: 36px;
}

@include media-breakpoint-down(md) {
  .text-center-custom {
    text-align: center;
  }
}

.img-shadow-sm {
  box-shadow: 0.125rem 0.125rem 0.35rem 0.125rem rgba(0, 0, 0, 0.5) !important;
}
